:root {
	font-size: 20px;
	font-family: sans-serif;
}

body {
	font-size: 1rem;
}

.container {
	display: flex;
	flex-direction: column;
}

.input-section, .output-section {
	display: flex;
	flex-direction: column;
}

button {
	margin: auto;
}